body {
  background: url(bgIMG.jpg) no-repeat fixed !important;
  background-size: cover !important;
}


#full-clndr {
  background: rgba(255,128,171,.33) !important;
}

body {
  color: red;
}
